@import url(//cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css);

* {
    font-family: 'Pretendard';
}

.App {
  text-align: center;
}

.mainContainer{
  background: rgb(255, 235, 214);
  height: 800px; width: 200px;
  border-radius: 15px;
}
