#main-container {
  border: 1px solid;

  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
