ul {
        padding: 5px;
        margin-left: auto; margin-right: auto;
        margin-bottom: 0px;
        font-size: 10px;
        font-weight: bold;
}

h3 {
        display: inline-block;
        margin-top : 15px;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #5a6478;
}

input {
        accent-color: white;
}

.messages {
        margin-left: auto; margin-right: auto;
        display: table-cell;
        padding-left: 10px;
        text-align: left;
        vertical-align: middle;
}
.msg-box{
        margin-left: auto; margin-right: auto;
        margin-bottom: 5px;
        background: white;
        height: 100px;
        border-radius: 10px;
        overflow: auto;
}

.msg-box::-webkit-scrollbar {
        width: 7px;
}
.msg-box::-webkit-scrollbar-thumb {
        background-color: #828a9a;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
}
.msg-box::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
}

.msg-container {
        margin-left: 10px;
        margin-right: 10px;
}

.dis-msg{
        margin-left: auto; margin-right: auto;
        margin-top: 8px;
        width: 92%;
        border-radius: 5px;
}

.dis-msg-none {
        margin-top: 37px;
        text-align: center;
        font-weight: bold;
        color: #abadb2;
}

.dis-date {
        text-align: right;
        margin-right: 5px;
        font-size: 10px;        
        font-weight: bold;
        color: #abadb2;
}

.check-box {
        display: inline-block;
        float: right;
        padding-right: 5px;
        font-size: 10px;
        font-weight: bold;
        color: #3d424b;
}

.seoul-main {
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 0px;
        font-size: 18px;
        font-weight: bold;
        line-height: 35px;
}

.seoul-main-city {
        color: #4f89f3;
}

.seoul-main-accident {
        color:#f34f70;
}

.seoul-main-date {
        font-size: 13px;
        line-height: 10px;
        color: #717376;
}

#accident-tap {
        float: right;
        margin-top: 13px;
}

.tap-circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 15px;
        margin-right: 2px;
}

.tap-text {
        display: inline;
        font-size: 6px;
}