.messages {
        margin-left: auto; margin-right: auto;
        display: table-cell;
        padding-left: 10px;
        text-align: left;
        vertical-align: middle;
}
.disMsg{
        margin-left: auto; margin-right: auto;
        height: 50px; width: 200px;
        border-radius: 15px;
}
.disMsg0 {
        background: rgb(255, 182, 182);
}
.disMsg1 {
        background: rgb(228, 227, 155);
}
.disMsg2 {
        background: rgb(155, 217, 228);
}
.msgBox{
        margin-left: auto; margin-right: auto;
        background: white;
        height: 150px; width: 80%;
        border-radius: 15px;
        overflow: scroll;
}
.checkBoxLine{
        float: left;

}
ul {
        /* 임시 */
        padding: 20px;
}