#notification-page-container {
  width: 275px;
  position: relative;
}

#onoff-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 60px;
}

#onoff-box p {
  cursor: default;
}

#onoff-box > input[type='checkbox']:checked ~ .toggleSwitch {
  background: #f7a8a4;
}

#onoff-box > input[type='checkbox']:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 20px);
  background: #fff;
}

#notification-content-box {
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#setting-submit-container {
  margin-top: 30px;

  display: flex;
  justify-content: end;
}

#setting-submit-button {
  width: 63px;
  height: 24px;

  border: none;
  border-radius: 5px;

  background-color: #6cb0ff;
  color: #fff;

  cursor: pointer;
}

#notify-none {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
}
