svg {
    /* border: 1px solid red; */
}

path {
    stroke: black;
    cursor: pointer;
}

path:hover {
    fill: blue;
}

.selected {
    stroke: black;
    stroke-width: 4px;
    cursor: pointer;
}
